body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
}

.side-image {
  min-width: 35%;
  height: 100vh;
  background-image: url("./Software\ engineer-amico.svg");
  background-color: #9a88b8;
  background-repeat: no-repeat;
  background-position: center center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  background-color: rgb(243, 243, 243);
}

.form-fields {
  margin: 40px 0px 40px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px 60px;
}

label {
  font-size: 0.7rem;
  display: block;
  width: 200px;
}

input {
  margin-top: 5px;
  display: block;
  width: 200px;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px;
}

.hero-container {
  padding: 30px;
}

.form {
  padding: 30px;
  background-color: white;
  box-shadow: 1px 5px 5px rgb(188, 188, 188);
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

button {
  width: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 60px;
  padding-left: 60px;
  border-radius: 7px;
  background-color: #7e57c2;
  color: white;
  border-style: hidden;
}
